extend jade.resources/layout/master
block content
	.container.content
		.home-slider
			.flexslider
				ul.slides
					li(style="background-image: url('assets/img/slide1.jpg'); background-size: cover;")
						img(src='http://placehold.it/1024x427/FFFFFF/000001' class='img-responsive')
					li(style="background-image: url('assets/img/slide2.jpg'); background-size: cover;")
						img(src='http://placehold.it/1024x427/FFFFFF/000001' class='img-responsive')
					li(style="background-image: url('assets/img/slide3.jpg'); background-size: cover;")
						img(src='http://placehold.it/1024x427/FFFFFF/000001' class='img-responsive')							
		.home-boxes
			.wide
				.school(style="background-image: url('assets/img/scoala.jpg'); background-size: cover;")
					h3.title <strong> Scoala </strong>
					.inner-content
						ul
							li 
								a(href='#') Ghiozdane
							li 
								a(href='#') Penare
							li 
								a(href='#') Creioane colorate
							li 
								a(href='#') Set desen
							li 
								a(href='#') Acuarele				
			.wide
				.office(style="background-image: url('assets/img/birou.jpg'); background-size: cover;")
					h3.title <strong> Biroul </strong> tau
					.inner-content
						ul
							li 
								a(href='#') Dosare
							li 
								a(href='#') Suport A4
							li 
								a(href='#') Pixuri
							li 
								a(href='#') Stilouri		
			.wide				
				.catalog(style="background-image: url('assets/img/catalog.jpg'); background-size: cover;")
					h3.title Descarca <strong> Catalogul </strong> 
						i(class='fa fa-download')
				//- +contentBox('banner', '337x427')
			//- .wide
			//- 	.catalog
				//- +contentBox('banner', '337x427')
		.featured-list
			h2.list-header Rechizite scolare
			.product-list
				.flexslider
					ul.slides					
						+product-list-carousel(8)
		.product-banners
			img(src='assets/img/banner-full.jpg' class='img-responsive' style='max-width: 100%; margin-bottom: 0.5em;')
		.featured-list
			h2.list-header Produse recomandate
			.product-list
				.flexslider
					ul.slides					
						+product-list-carousel(8)
		.logos-list
			h2.list-header Brands
			.flexslider
				ul.slides
					li 
						img(src='assets/img/logos/Picture3.png')
					li 
						img(src='assets/img/logos/Picture4.png')		
					li 
						img(src='assets/img/logos/Picture7.png')
					li 
						img(src='assets/img/logos/Picture6.png')
					li 
						img(src='assets/img/logos/Picture7.png')
					li 
						img(src='assets/img/logos/Picture3.png')
					li 
						img(src='assets/img/logos/Picture9.png')		
					li 
						img(src='assets/img/logos/Picture3.png')
					li 
						img(src='assets/img/logos/Picture4.png')		
					li 
						img(src='assets/img/logos/Picture7.png')
					li 
						img(src='assets/img/logos/Picture6.png')
					li 
						img(src='assets/img/logos/Picture7.png')
					li 
						img(src='assets/img/logos/Picture3.png')
					li 
						img(src='assets/img/logos/Picture9.png')								
		//- .newin-list
		//- 	h2.list-header Produse noi
		//- 	.product-list
		//- 		+product-list(4)
		//- .featured-list
		//- 	h2.list-header Rechizite scolare
		//- 	.product-list
		//- 		+product-list(6)