extend jade.resources/layout/master
block content
	.container.wrapper
		.category-page		
			h1.block-header.category-header.center-header Iti multumim pentru comanda ta	
			.wrapper-fix
				.cart-page
					//- include jade.resources/partials/breadcrumbs.jade
					.cart-list
						form#ordersubmit(name='ordersubmit', method='post')
							.header-cart
								.cart-product Produs				
								.cart-delivery Data Livrare				
								.cart-quantity Cantitate				
								.cart-price Pret			   
							.cart-row
								.cart-product
									.media-left
										img.img-responsive(src='http://placehold.it/90x90')					 					 
									.media-right
										.details
											h2
												a(href='product.html')
													| Intercalator - biblioraft
													| -
													| Rosu						
											span.product-code
												| Codul Produsului:
												| 2342-Rosu				
								.cart-delivery
									.media-right
										p 24 ore				
								.cart-quantity
									.media-right
										p 6												
								.cart-price
									.media-right
										p
											| 199 Lei 
											span (Include TVA)													   
							.cart-row
								.cart-product
									.media-left
										img.img-responsive(src='http://placehold.it/90x90')					 					 
									.media-right
										.details
											h2
												a(href='product.html')
													| Roller Schneider One Hybrid N
													| -
													| Albastru						
											span.product-code
												| Codul Produsului:
												| 2711-Albastru				
								.cart-delivery
									.media-right
										p 24 ore				
								.cart-quantity
									.media-right
										p 6												
								.cart-price
									.media-right
										p
											| 179 Lei 
											span (Include TVA)													   
							.cart-row
								.cart-product
									.media-left
										img.img-responsive(src='http://placehold.it/90x90')					 					 
									.media-right
										.details
											h2
												a(href='product.html')
													| Stilou si Roll er Schneider Glam
													| -
													| Negru						
											span.product-code
												| Codul Produsului:
												| 6330-Negru				
								.cart-delivery
									.media-right
										p 24 ore				
								.cart-quantity
									.media-right
										p 6												
								.cart-price
									.media-right
										p
											| 609 Lei 
											span (Include TVA)													   
							.cart-row
								.cart-product
									.media-left
										img.img-responsive(src='http://placehold.it/90x90')					 					 
									.media-right
										.details
											h2
												a(href='product.html')
													| Marker pentru whiteboard IC O
													| -
													| Verde					
											span.product-code
												| Codul Produsului:
												| 3842-Verde				
								.cart-delivery
									.media-right
										p 24 ore				
								.cart-quantity
									.media-right
										p 6)
												
								.cart-price
									.media-right
										p
											| 279 Lei 
											span (Include TVA)									
							.cart-summary
								p
									| Total (fara TVA) 
									span.subtotal 1.021 Lei			   
							.cart-summary
								p
									| TVA 
									span.subtotal 245 Lei			   
							.cart-summary
								p
									| Total 
									span.inclTVA (Include TVA)
									span.subtotal 1266 Lei
							footer.cart-footer												
								a.go-checkout(href='category.html') Continua cumparaturile
			//- .featured-list
			//- 	h2.list-header Produse recomandate
			//- 	.product-list
			//- 		.flexslider
			//- 			ul.slides					
			//- 				+product-list-carousel(8)