.header
	+clearfix
	// margin-bottom: 1em
	position: relative
	font-size: 0.9em
	position: fixed
	left: 0
	top: 0
	right: 0
	// background-color: #fff
	z-index: 99
	font-family: 'Roboto Condensed', sans-serif
	@media (max-width: 1350px)
		font-size: 0.8em
	.logo	
		padding-left: 0
		position: absolute
		top: -9px
		left: 0.6em
		z-index: 99
		font-size: 1.1em
		max-width: 60px
		width: 100%
		// max-width: 40px
		a 
			display: block
		img 	
			width: 100%
	.cos
		float: right
		margin-left: 0.5em
		line-height: 3em
		// padding-top: 0.5em
		a 
			max-width: 40px
			position: relative
			float: left
			padding-top: 0.2em
			span 
				position: absolute
				top: 7px
				left: 9px
				z-index: 10
				background-color: rgba(255, 0, 0, 0.66)
				// background-color: $primary
				border-radius: 100%
				width: 1.8em
				height: 1.8em
				padding: 0
				margin: 0
				display: block
				line-height: 1
				text-align: center
				color: #fff
				vertical-align: middle
				font-size: 0.8em
				padding: 0.2em
				padding-top: 0.4em
				font-weight: 700
		span
			color: #79C614
		.hidden-fix
			@media (max-width: 1300px)
				display: none	
	.search
		float: right
		// padding-top: 0.7em
		form 
			+default-input
			margin-bottom: 0
		input
			+default-input			
			border: none
			margin: 0
			padding: 0
			line-height: 3em
			height: 3em
			vertical-align: middle
			padding: 0.2em 0.5em
			text-align: right
			background-color: transparent
			@media (max-width: 800px)
				width: 8em
			&.form-control
				border-radius: 0
				border: 1px solid #f0f0f0
				font-weight: 300
				line-height: 1
				width: 134px
				font-size: 1em
				display: block
				float: left
				padding: 0.2em 0.5em 0.2em
				margin-top: 0
		button
			outline: none
			background-color: transparent
			border: none
			color: $primary
			font-size: 1.2em
		.hidden-fix			
			display: none		
	.my-account
		float: right
		line-height: 3.45em
		a 
			color: #000
			margin-right: 0.5em
			.fa 
				margin-right: 0.5em		
.upper
	+clearfix
	border-bottom: 2px solid #FAD2D2
	background-color: #fff
	position: relative	
	z-index: 99
.lower
	+clearfix	
	background-color: rgba(255,255,255,0.7)
.feedback
	background-color: #308EE5
	position: fixed
	left: 0
	right: 0
	top: 0
	height: 3em
	color: #fff  
	transition: all 0.5s cubic-bezier(0, 1, 1, 1)
	opacity: 0
	z-index: 2	
	&.active
		transform: translate3d(0,3.5em,0) 
		opacity: 1
	p 
		margin-bottom: 0px
		font-size: 1.5em
		line-height: 1
		text-align: center
		padding: 0.5em
		display: block		
// .testing
// 	display: none		