.main-nav 
  // position: relative
  z-index: 2  
  font-family: "Roboto Condensed"
  padding-left: 5em
  line-height: 3em
  float: left
  display: inline-block 
  ul
    +h-nav    
  a   
    font-weight: 400  
    color: #000
    padding: 0.2em 0.5em    
    display: block
    position: relative
    @media (max-width: 1350px)
      padding: 0.3em 0.5em      
    &.active
      // border-color: #74D318  
      // background-color: #74D318  
      // color: #fff
    &:before
      content: ""
      height: 2px 
      width: 100%
      position: absolute
      left: 0
      bottom: -2px
      right: 0
      background-color: #fff
        /* border-bottom: 2px solid #FAD2D2; */ 
  li 
    position: relative
    &:first-child a
      &:before 
        background-color: #74D318 
      &:hover 
        color: #74D318  
    &:nth-child(2) a
      &:before  
        background-color: #30B0E5
      &:hover 
        color: #30B0E5  
    &:nth-child(3) a
      &:before  
        background-color: #E53092 
      &:hover 
        color: #E53092  
    &:nth-child(4) a
      &:before  
        background-color: #E2E50F
      &:hover 
        color: #E2E50F  
    &:nth-child(5) a
      &:before  
        background-color: #30E5CE 
      &:hover 
        color: #30E5CE  
    &:nth-child(6) a
      &:before  
        background-color: #308EE5 
      &:hover 
        color: #308EE5      
    &:nth-child(7) a
      &:before  
        background-color: #79C614 
      &:hover 
        color: #79C614  
    &:nth-child(8) a
      &:before  
        background-color: #F17D0B
      &:hover 
        color: #F17D0B  
    ul 
      li 
        line-height: 1.4
        a 
          border: none
          &:before
            position: relative 
            background-color: transparent 
            height: 0
            width: 0  
  .dropdown   
    a:after
      font-family: "FontAwesome"
      content: "\f107"
      font-size: 0.8em
      margin-left: 0.5em  
      line-height: 1
  .dropdown:hover
    .dropdown-menu
      display: inline-block   
  .dropdown-menu
    display: none
    +v-nav
    +clearfix   
    border-bottom: 2px solid #FAD2D2    
    position: absolute
    top: 100%
    left: 0 
    min-width: 200px
    background-color: #fff
    background-color: rgba(255,255,255,0.95)  
    padding: 1em 0.5em 0
    margin: 2px 0 0 0
    left: -8rem
    width: 44rem
    @media (min-width: 992px)
      width: 57rem
    @media (min-width: 1280px)
      left: -9rem
      width: 60rem
    .level-2
      a
        color: #000
        // text-transform: uppercase
        font-weight: 600        
        padding-left: 0
        border-bottom: 1px solid #e7e7e7
        display: block
        padding: 0
        padding-bottom: 0.5em
        margin-bottom: 0.5em
        font-size: 0.8em
        &:after
          display: none 
      &:last-child a 
        border-bottom: none     

    .level-3
      a         
        text-transform: none
        font-size: 1em
        font-weight: 400
        border: none
        margin-bottom: 0.5em
    .level-2-container
      padding: 1em $grid-gutter-width/2
      float: left   
      +make-sm-column(1,8)
  .dropdown-menu.mega-menu
    display: none !important
  .teaser
    float: left
    
.magazin
  float: right
  padding-left: 0px
  li
    border: none
    a 
      border: none
      // color: #fff
      &:hover
        color: $secondary
      &.cos 
        border-color: #fff
        border: none
  .dropdown 
    li 
      ul 
        padding-top: 0.5em
        
                