.footer
	.container
		.footer-block
			ul
				li
					a(href='#') Informatii Livrare
				li
					a(href='#') Intrebari Frecvente
				li
					a(href='#') Termeni si Conditii
				li
					a(href='#') Detalii Plata
				li
					a(href='#') Vouchere
		.footer-block.rights			
			ul
				li
					a(href='#') &copy; 2015 Aperta. Toate drepturile rezervate.				
		//- .footer-block
		//- 	p.title Conecteaza-te cu noi
		//- 	ul
		//- 		li
		//- 			i(class='fa fa-facebook-square')
		//- 		li
		//- 			i(class='fa fa-google-plus-square')
		//- 		li
		//- 			i(class='fa fa-twitter-square')
		//- 		li
		//- 			i(class='fa fa-facebook-official')
script(defer type='text/javascript' src='assets/js/tab.js')
script(defer type='text/javascript' src='assets/js/main.js')
script(type='text/javascript' src='assets/js/jquery.flexslider-min.js')